*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height:100%;
    padding:0;
    box-sizing: border-box;
    background-image: url(/img/christian-wiediger-2D-NFPeTsQw-unsplash.jpg);
  }

.demo{
    width: 50%;
    height:50%;
    margin: 2rem auto;
    padding: 2rem;
    background: hsla(313, 100%, 53%, 0.5);
}

.ball {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    opacity: 0;
    transition: transform 1s;
}

p {
    margin-top: 8rem;
    text-align: center;
    font-size:2rem;
    color:snow;
    font-family: 'Leckerli One';
    font-weight:normal;

}

img{
    width:100px;
    height:100px;
}


h1{
    text-align:center;
    color:snow;
    font-family: 'Leckerli One';
    margin-top:20px;
    font-size:5.4rem;
    
}

h2{
    text-align: center;
    font-size: 3rem;
    color:snow;
    font-family: 'Leckerli One';
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;

    
}

h3{
    text-align: center;
    font-family: 'Leckerli One';
    color:bisque;
    padding-top:10px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-weight: normal;
    font-size: 2rem;


}

#h3{
    color:snow;
    font-size:1rem;
}