*{
    box-sizing: border-box;
    padding:0;
}

body{
    background-color: purple;
    margin:0;
    height:100vh;
    background-image:url(/img/christian-wiediger-2D-NFPeTsQw-unsplash.jpg);

}


html{
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    background: #1a0048 url(bg.jpg) no-repeat center/cover;
    animation-name: blur;
    animation-duration: 1s;
    animation-fill-mode: backwards;
}
@keyframes blur {
    from {
        filter:blur(52px);
        opacity: 0;
    }
    to {
        filter: blur(0);
        opacity: 1;
    }
}
@keyframes fade {
    0%,
    50% {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.ball {
    border: 2px solid black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: rgb(0, 204, 61);
    opacity: 0;
    transition: transform 1s;
}

p {
    margin-top: 10rem;
    color:white;
    text-align: center;
    font: bold 2rem sans-serif;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000000;
    
}

h1{
    text-align:center;
    color:antiquewhite;
    text-shadow: 5px 9px 10px black;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #000000;
    font-family: 'Parisienne', cursive;

}

img{
    width:100px;
    height:100px;
}

