*{
    box-sizing: border-box;
}

body{
    background-color: rgb(0, 0, 0);
    margin: 0;
    height: 100vh;
}

.ball {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: rgb(249, 79, 147);
    opacity: 0;
    transition: transform 1s;
}

p {
    margin-top: 10rem;
    text-align: center;
    font: bold 2rem sans-serif;
    color: aliceblue;
}

button{
    min-width:80px;
    max-width: 80px;
    background-color: rgb(248, 246, 246);
    padding:30px;
    max-width:80%;
    min-width:80px;
    margin: auto;
    border: 10px groove rgb(19, 242, 171);
    padding-bottom:10px;
}


h1{
    color:aliceblue;
    text-align: center;

}

h2{
    color:aliceblue;
}

#demo{
    font-size:5rem;
    margin-right: 50%;
    margin-left: 50%;
}

.demo{
    background-color: rgb(248, 246, 246);
    padding:30px;
    max-width:80%;
    min-width:80px;
    margin: auto;
    border: 10px groove rgb(19, 242, 171);
    padding-bottom:10px;
}

a{
    
}

#myDiv{
    margin: 0 auto;
    margin-top:30%;

    
}

img{
    width:100px;
    height:100px;
    margin-left: 13.5rem
}